<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}SoundFoundry{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">-->
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <!-- header -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SoundFoundry</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">My Likes</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="/upload">Upload</a>
                </li>
                <li>
                    <a href="/login">Sign in or Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- endheader -->
    {% block content %}
    {% endblock %}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/player.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
