{% extends "base.html" %}

{% block title %}Your SoundFoundry feed{% endblock %}

{% block content %}
{% if userInfo.username %}
<p id="welcome-text">Welcome {{userInfo.username}}!</p>
{% endif %}
<ul class="infinite-list hidden">
  <li class="infinite-list-item">
    <div class="post-container">
      <div class="post-metadata">
      </div>
      <div class="post-artwork">
      </div>
      <div class="post-content">
      </div>
    </div>
  </li>
</ul>

{% endblock %}

{% block scripts %}
<script src="/js/app.js"></script>
{% endblock %}