{% extends "base.html" %}

{% block title %}Your SoundFoundry feed{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload files here</h2>
    <form target="upload-iframe" method="post" enctype="multipart/form-data">
        <input name="title" type="text" id="title-input">
        <input name="file" type="file" id="file-input">
        <input type="submit" class="btn btn-default" id="file-upload-btn" value="Upload" accept=".mp3, .mp4, .flac, .wav, .ogg">
    </form>
</div>


<iframe name="upload-iframe" id="upload-iframe" style="display:none"></iframe>
{% endblock %}

{% block scripts %}
{% endblock %}